$white: #fff;
$gray: gray;
$darkGray: #2F3242;
$darkBlue: #27343d;
$darkWhite: #e1e1e1 !important;
$darkViolet: #6b4467;
$darkestViolet: #3a2b4e;
$veryLightGray: #f3f3f3;
$lightGray: #b4b1b1;
$hoverColor: #e9fff5;
$cyan: #0f9999;
$darkCyan: #1c5060;
$pink:rgba(255, 99, 132, 1);
$blue: rgba(54, 162, 235, 1);
$yellow: rgba(255, 206, 86, 1);
$lightBlue: rgba(75, 192, 192, 1);
$violet: rgba(153, 102, 255, 1);
$orange: rgba(255, 159, 64, 1);
$red:rgba(206, 12, 12, 0.904);
$green: #18af69;