<div class="row medium-font">
  <h5 id="dashboardHeading" class="blue-text text-lighten-2 text-center">Хора, предлагащи превоз</h5>
  <div class="col s10 m8 l6 offset-l1 form-margin-top cardsContainer" data-mcs-theme="dark">
    <div class="row bordered vertical-align-center postContainer" *ngFor="let post of viewPosts">
      <div class="col s3 m2 l1 white-text">
        <img [src]="post.profilePicture" class="cardImage">
      </div>
      <div class="col m7 l7 white-text">
        <div>
          <div class="col s12 l6 white-text">{{ post.driverFullName }}</div>
          <div class="col s12 l6 white-text">
            {{ post.from }} > {{ post.to }}
          </div>
        </div>
      </div>
      <div class="col m4 white-text">
        {{ post.time }}ч. | {{ post.date }}
      </div>
    </div>
  </div>
  <div class="col s10 m4 l2 offset-m2 offset-l1 form-margin-top" data-mcs-theme="dark">
    <div class="input-field col s12">
      <span class="white-text padding">От</span>
      <select class="browser-default" name="fromCity" id="fromCity">
        <option selected disabled>Избери град на тръгване</option>
        <option *ngFor="let city of cities">{{city}}</option>
      </select>
    </div>
    <div class="input-field col s12">
      <span class="white-text padding col s1">До</span>
      <select class="browser-default col s11" name="toCity" id="toCity">
        <option selected disabled>Избери град на пристигане</option>
        <option *ngFor="let city of cities">{{city}}</option>
      </select>
    </div>
    <div class="input-field col s10 offset-s2">
      <i class="material-icons prefix">today</i>
      <label for="datepicker">Дата</label>
      <input type="text" id="datepicker" class="datepicker white-text">
    </div>
    <div class="text-center">
      <input type="button" id="searchPosts" class="btn blue teal lighten-1" value="Търси">
    </div>
  </div>
</div>