@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./app/styles/colors";

$darkWhite: #e1e1e1 !important;

body {
    margin: 0%;
    background-color: $darkBlue;

    .input-field {
        .prefix {
            color: $darkWhite;

            &.active {
                color: #26a69a !important;
            }
        }

        label {
            color: $darkWhite;
        }
       
    }
}

body.swal2-toast-shown .swal2-container.swal2-top-end, body.swal2-toast-shown .swal2-container.swal2-top-right {
    top: 61px !important;
}

.select2-search__field {
    height: 30px !important;
}
.fromToLabels {
    visibility:hidden;
}
.browser-default {
    height: 30px;
    width: 300px;
    display: inline-block !important;
}

.select2-container {
    width: 300px !important;
}

.padding {
    padding: 10px;
}

.float-left {
    float: left;
}
.margin-top-sm {
    margin-top: 10px;
}
.margin-bottom-sm {
    margin-bottom: 10px;
}
.bold-font {
    font-weight: bold;
}
.modal-heading {
    font-size: 20px;
    color: #00949a;
}
.form-margin-top {
    margin-top: 50px;
}
.bordered {
    border: 1px solid white;
}
.vertical-align-center {
    display: flex;
    align-items: center;
}
.text-center {
    text-align:center;
}

.swal2-popup.swal2-modal.swal2-show {
    background-color: $darkBlue !important;
}

.boder-radius {
    border-radius: 15px;
}

.swal2-popup .swal2-styled.swal2-confirm {
    background-color: #14939a !important;
}